In [1]:
numbers = [1, 2, 3, 4, 5, 6]

for number in numbers:
  if(number%2) == 0:
    print(f"{number} is even")
  else:
    print(f"{number} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even

the code function is to print the following numbers then tell if they are odd or even numbers.

In [2]:
numbers = [1, 2, 3, 4, 5, 6]
evens = [ ]
odds = [ ]

for number in numbers: 
  if (number%2) == 0:
    evens.append(number)

for number in numbers:
   if (number%2) != 0:
     odds.append(number)

print(evens)   
print(odds)

[2, 4, 6]
[1, 3, 5]

the code function is the same in the previous code but the output is different.

In [3]:
numbers = [1, 2, 3, 4, 5, 6]
doubles = [ ]
for number in numbers:
  number*= 2
  doubles.append(number)
print(doubles)

[2, 4, 6, 8, 10, 12]

the code function it to print the numbers but it will double the values.

In [4]:
numbers = [1, 2, 3, 4, 5, 6]

evens = [number for number in numbers if (number % 2) == 0]
odds = [number for number in numbers if (number % 2) != 0]

print(evens)
print(odds)

[2, 4, 6]
[1, 3, 5]

the code functions is the same in the 1st codes but different in codes.

In [5]:
numbers = [1, 2, 3, 4, 5, 6]
doubles = [number * 2 for number in numbers]
print(doubles)

[2, 4, 6, 8, 10, 12]

the code functions is the same in the 2nd previous code but different in codes.

In [7]:
name_lengths = []
names = ["alice", "bob", "carol"]
name_lengths = [len(name) for name in names]

print(name_lengths)

[5, 3, 5]

the code functions is to print the names lenghts.

In [10]:
record = ["alice", 5]

name, length = record
print(f"{name} have a length of {length}")

alice have a length of 5

the code function is to determine the names lenght.

In [11]:
records = [
           ["alice", 5],
           ["bob", 3],
           ["carol", 5],
]
for name, length in records:
  print(f"{name} have a length of {length}")

alice have a length of 5
bob have a length of 3
carol have a length of 5

the code function is the same in the previous code but more names are added to determine the names length.

In [13]:
names = ["alice", "bob", "carol"]
name_lengths = [5, 3, 5]

for name, length in zip(names, name_lengths):
  print(f"{name} have a length of {length}")

print(zip(names, name_lengths))  
print(list(zip(names, name_lengths)))

alice have a length of 5
bob have a length of 3
carol have a length of 5
<zip object at 0x7fa03c5dab90>
[('alice', 5), ('bob', 3), ('carol', 5)]

In [14]:
names = ["alice", "bob", "carol", "marvin"]
name_lengths = [5, 3, 5]
genders = ["female", "male", "female"]
ages = [15, 22, 24]

for name, length, gender, age in zip(names, name_lengths, genders, ages):
  print(f"{name} have a length of {length}. They are {gender}. Ages are {age}")
print(filter)

alice have a length of 5. They are female. Ages are 15
bob have a length of 3. They are male. Ages are 22
carol have a length of 5. They are female. Ages are 24
<class 'filter'>